[Unit]
Description=Gunicorn instance to serve Django backend for SalesSync KVA
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/salessync_kva/backend
ExecStart=/var/www/salessync_kva/backend/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8016 backend.wsgi:application

[Install]
WantedBy=multi-user.target
